<% if current_petsitter %>
  <% if notifications_for_petsitter == 0 %>
    <%= link_to petsitter_path(current_petsitter.id) do %>
      <li class="nav-link">	<i class="fa fa-envelope-open-o fa-2x"></i></li>
    <% end %>
  <%else%>
    <%= link_to petsitter_path(current_petsitter.id) do %>
      <li class="nav-link">
        <i class="fa fa-envelope fa-2x"></i>
        <span class="badge badge-pill badge-danger" style="margin-left:-10px;"><%= notifications_for_petsitter %></span>
      </li>
    <% end %>
  <%end%>
<%end%>
