<section class="py-4 bg-light counter counter-light counter-small mt-4 comments-counter">
	<div class="container">
			<div class="counter-item text-center" id="counterjs">
				<i class="counter-item-icon ti-face-smile"></i>
				<h2 class="counter-item-digit" data-from="0" data-to="<%= @comments.count%>" data-speed="3000" data-refresh-interval="10"><%= @comments.count%></h2>
				<p class="counter-item-text">Commentaires</p>
		</div>
	</div>
</section>
