<div class="left pt-1 mr-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center">
        <h4>Commentaires</h4>
      </div>
    </div>
  </div>
</div>
<br>
      <div class="divider"><i class="ti-heart"></i> </div><br>
      <section class="testimonials testimonials-border pb-4">
      	<div class="container">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="owl-carousel testi-full owl-grab" data-arrow="false" data-dots="false" data-items-xl="3" data-items-md="2" data-items-xs="1" data-autoplay="5000">
      					<!-- testimonial item -->
                <% @comments.each do |comment| %>
                  <!-- VERIFIER EN BDD QUE LE PETOWNER EXISTE POUR AFFICHER SON COMMENTAIRE -->
                  <% if petowner_exists(comment.petowner_id) == false %>
          					<div class="item">
          						<div class="testimonials-wrap">
          							<div class="testi-text">
          								<p><%= comment.content %></p>
                          <!-- HELPER POUR TROUVER LE PETOWNER A L'ORIGINE DU COMMENTAIRE -->
          								<h6 class="mb-0 mt-3"><%= my_petowners((comment).petowner_id).first_name %></h6>
          								<h6 class="small"><%= comment.title %></h6>
          							</div>
          						</div>
          					</div>
                  <% end %>
                <% end %>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <div class="divider"><i class="ti-heart"></i> </div>
