<div class="container">
  <div class="row ">
		<div class="col-md-12 ">
      <h3 class="mb-2 mt-5">Commentaires</h3>
      <div class="divider"><i class="ti-heart"></i> </div>
      <section class="testimonials testimonials-border pb-4">
      	<div class="container">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="owl-carousel testi-full owl-grab" data-arrow="false" data-dots="false" data-items-xl="3" data-items-md="2" data-items-xs="1" data-autoplay="5000">
      					<!-- testimonial item -->
      					<div class="item">
      						<div class="testimonials-wrap">
      							<div class="testi-text">
      								<p>Best of the best service i have got so far consectetur adipisicing elit Numquam aliquid neque voluptates <strong>Never seen in my entire life</strong> iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam doloremque nam ullam labore.</p>
      								<h6 class="mb-0 mt-3">Adam Ross</h6>
      								<h6 class="small">Software Developer</h6>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <div class="divider"><i class="ti-heart"></i> </div>
    </div>
  </div>
</div>
