<i class="counter-item-icon ti-face-smile"></i>
<p class="counter-item-text mt-2">Et hop ! +1 pour le Pet sitter</p>
<h2 class="counter-item-digit" data-from="0" data-to="<%= @comments.count%>" data-speed="3000" data-refresh-interval="10"><%= comments.count%></h2>
<p class="counter-item-text">Commentaires</p>
