<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @petsitter.first_name %> et bienvenue chez nous !</h1>
    <p>
      Ta demande de création en tant que Petsitter sur ungardienpresdechezsoi.herokuapp.com a bien été pris en compte en utilisant l'e-mail suivant : <%= @petsitter.email %>.
    </p>
    <p>
      Quand ta demande sera validé par notre service, nous t'informerons par un email la validation de compte.
    </p>
    <p>
      À très vite sur ungardienpresdechezsoi.herokuapp.com !
    </p>
  </body>
</html>