<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @petsitter.last_name %></h1>
    <p>
      Ta demande de création en tant que Petsitter sur ungardienpresdechezsoi.herokuapp.com a été validé par notre service pour l'e-mail suivant : <%= @petsitter.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> 
      À très vite sur ungardienpresdechezsoi.herokuapp.com ! 
    </p>
  </body>
</html>