<div class="container">
  <div class="row">
    <!-- ITEM -->
    <div class="item pb-5 col-4">
      <div class="post">
        <img src="assets/images/blog/04.jpg" alt="" style='height-max: 560px;width:560px;border-radius:10px;border:2px solid #28a745;'>
        <div class="post-info">
          <span class="post-tag bg-grad text-white mb-3 clearfix">Aiguelongue</span>
          <div class="post-author"><a href="#!"> By Smith C</a></div>,
          <div class="post-time"><a href="#!">2 Days ago</a></div>
          <a class="post-title" href="#!">7 Great Lessons You Can Learn From Business</a>
          <p class="mb-0">Ample order up in of in ready timed blind had now those ought set often which</p>
        </div>
      </div>
    </div>
  </div>
</div>
