<section class="blog bg-light">
	<div class="container">
    <%= render 'layouts/flash_alert' %>
    <%= render 'layouts/flash_success' %>
		<div class="row">
			<div class="col-12 col-lg-8 mx-auto">
				<div class="title text-center">
					<h2>Read our news, comments & thoughts</h2>
					<p>Facere nam dicta quia error non debitis accusantium. Unde explicabo perferendis assumenda obcaecati ut deserunt aliquam cupiditate fugiat animi corrupti illo velit.</p>
				</div>
			</div>
		</div>
    <!-- CARDS -->
    <%= render 'card_petsitters' %>
  </div>

	<div class="d-flex justify-content-center mt-3">
	  <%= link_to root_path do%>
	    <span class="btn btn-button btn-dark"><i class="fa fa-angle-double-left"></i> RETOUR ACCUEIL</span>
	  <% end %>
	</div>
</section>
