<section class="team social-hover team-overlay">
	<div class="container">
		<div class="row">
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center">
					<div class="team-avatar">
						<img src="assets/images/team/01.jpg" alt="">
					</div>
					<div class="team-desc">
						<h5 class="team-name">Marine El Adouzi</h5>
						<span class="team-position">Préfère les chats</span>
						<p>I am temporibus voluptatem odio odit ratione perferendis explicabo!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center">
					<div class="team-avatar">
						<img src="assets/images/team/02.jpg" alt="">
					</div>
					<div class="team-desc">
						<h5 class="team-name">Paul Hennin</h5>
						<span class="team-position">Préfère les chats</span>
						<p>Expert in temporibus voluptatem odio odit ratione perferendis explicabo!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center">
					<div class="team-avatar">
						<img src="assets/images/team/03.jpg" alt="">
					</div>
					<div class="team-desc">
						<h5 class="team-name">Jordi Le Guet</h5>
						<span class="team-position">Préfère les chats</span>
						<p>Have more then 8 years temporibus voluptatem odio odit ratione perfere!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Team item -->
			<div class="col-12 col-sm-3 col-md-3">
				<div class="team-item text-center">
					<div class="team-avatar">
						<img src="assets/images/team/04.jpg" alt="">
					</div>
					<div class="team-desc">
						<h5 class="team-name">Terence Le Guet</h5>
						<span class="team-position">Préfère les chiens</span>
						<p>With more then temporibus voluptatem odio odit ratione perferendis!</p>
						<ul class="social-icons si-colored-on-hover">
							<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

    </div>
  </div>
</section>
