<div class="text-center bg-overlay-dark-4" style="background:url(assets/images/bg/05.jpg) no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h6 class="display-6 mt-9 mb-0">Appelez-nous au +334 01 20 03 40</h6>
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4">Nous contacter</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>En quoi pouvons-nous vous aider ?</h2>
						<p>Toute l'équipe d'Un gardien près de chez soi vous répondra dans les meilleurs délais</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-3 mb-5">
					<div class="contact-box h-100 bg-overlay-dark-7 px-3 py-4" style="background:url(assets/images/bg/04.jpg) no-repeat; background-size: cover; background-position: center center; ">
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-map-alt"></i></div>
							<h5 class="mb-2">Adresse</h5>
							<p>L'Anacrouse, 34000 Montpellier</p>
						</div>
						<!-- Email -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-email"></i></div>
							<h5 class="mb-2">E-mail</h5>
							<p>help@wizixo.com</p>
						</div>
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-panel"></i></div>
							<h5 class="mb-2">Téléphone</h5>
							<p>+334 01 20 03 40</p>
						</div>
					</div>
				</div>
				<!-- google map -->
				<div class="col-md-3 mb-5">
					<div class="h-100">
						<div class="contact-map overflow-hidden">
							<div class="map-wrapper" id="map-silver" data-lat="43.6105913" data-lng="3.8744102" data-string="5 Place du Petit Scel, 34000 Montpellier" data-zoom="10"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.805160086318!2d3.8721613514175113!3d43.61059827902043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af078b20464b%3A0xff0f2da78acb2843!2sl&#39;Anacrouse%20-%20%C3%89cole%20de%20Musique!5e0!3m2!1sfr!2sfr!4v1575454468307!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
						</div>
					</div>
				</div>
				<!-- contact form -->
				<div class="col-md-6">
					<div class="h-100">
						<h3>Une suggestion pour le site ?</h3>
						<p>Le formulaire ci-dessous nous permettra de rester en contact !</p>
						<form class="contact-form" id="contact-form" name="contactform" action="assets/include/contact-action.php">
							<!-- Start form message -->
							<div class="row">
								<div class="col-12">
									<div class="alert alert-success contact-msg" style="display: none" role="alert">
										Your message was sent successfully.
									</div>
								</div>
							</div>
							<!-- End form message -->

							<!-- Start main form -->
							<div class="row">
								<div class="col-md-6">
									<!-- name -->
									<span class="form-group">
										<input id="con-name" name="name" type="text" class="form-control" placeholder="Name">
									</span>
								</div>
								<div class="col-md-6">
									<!-- email -->
									<span class="form-group">
										<input id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Subject -->
									<span class="form-group">
										<input id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Message -->
									<span class="form-group">
										<textarea id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="Message"></textarea>
									</span>
								</div>
								<!-- submit button -->
								<div class="col-md-12 text-center"><button class="btn btn-dark btn-block">Send Message</button></div>
							</div>
							<!-- End main form -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	contact -->

	<!-- =======================
	more-info -->
	<section class="pt-0">
		<div class="container ">
			<div class="row justify-content-md-center">
				<div class="col-md-4 text-center">
					<h5 class="mb-1"> Communication</h5>
					<p>Pour toute demande, incluant des partenariats professionnels, nous contacter par mail: <%= mail_to 'help@wizixo.com'%></p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	more-info -->
