<!DOCTYPE html>
<html>
  <section class="error-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2 class="display-1 font-weight-bold text-grad">422!</h2>
          <h3 class="mb-4">Page non autorisé</h3>
          <p>Vous avez peut-être essayé d'afficher quelque chose auquel vous n'aviez pas accès.</p>
           <%= link_to root_path do %>
          <div class="btn btn-sm btn-outline-light">
            <i class="fa fa-angle-double-left"></i> Retour a l'accueil
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</html>
