<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @petowner.last_name %></h1>
    <p>
      Ta demande auprès du petsitter <%=@petsitter.last_name %> a été validé.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> 
      À très vite sur ungardienpresdechezsoi.herokuapp.com !
    </p>
  </body>
</html>