<div class="innerpage-banner center bg-overlay-dark-7 py-7 association-banner-inner">
  <div class="container">
    <div class="row all-text-white">
      <div class="col-md-12 align-self-center">
        <h1 class="innerpage-title">Fiches associations</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              <%= link_to associations_path do %>
                <i class="fa fa-5x fa-list "></i> Retour Associations
              <% end %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
