<div class="container">
  <div class="d-block d-md-flex bg-grad p-4 p-sm-5 border-radius-3">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="text-center all-text-white">
          <h1>Vous représentez une association et vous souhaitez apparaitre sur notre site ?</h1>
          <h4>Remplissez le formulaire de contact et nous vous recontacterons après étude de votre dossier.</h4>
        </div>
        <div class="col-md-12 align-self-center text-center mt-4" >
          <!-- Button of modal -->
          <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModalCenter">
            Contactez-nous !
          </button>
          <%= render "contactassoform"%>
        </div>
      </div>
    </div>
  </div>
</div>
