<div class="d-flex justify-content-center mt-3 mb-6">
  <%= link_to root_path do%>
    <span class="btn btn-button btn-dark"><i class="fa fa-angle-double-left"></i>Retour Accueil</span>
  <% end %>
</div>
