<div class="container mt-4" >
  <% if flash[:alert] %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Mais qu'est ce qu'il se passe ?!</strong><h4><%= flash[:alert] %></h4>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
